*{
    margin: 0%;
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.invoice-container{
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:  Helvetica, Arial, sans-serif;
    color: gray;
    border: 1px solid lawngreen;
    box-shadow: 2px 2px 10px 5px gray;
    background-color: #e6e4e5;
    border-radius: 5px;
}
.header{
    line-height: 9vw;
    text-align: center;
}
.date{
    line-height: 9vw; 
    font-size: small;
}
.bottom{
    width: 100%;
}
.bottom-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mid-section-head th{
    padding: 4vw 1vw;
    text-align: center;
}
.mid-section-body td{
    padding: 4vw 1vw;
    font-size: small;
    text-align: center;
}
.bottom{
    line-height: 9vw;
}
.qr-code{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qr-code img{
    width: 35vw;
}

@media only screen and (min-width: 720px){
    .invoice-container{
       padding: 4rem;
       margin: 4rem;
    }
  .header{
    line-height: 4vw;
  }
  .date{
    line-height: 4vw;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .mid-section{
    border: 1px solid lawngreen;
  }
  .mid-section-body td{
    padding: 1vw;
    font-size: large;
  }
  .mid-section-head th{
    padding: 1vw;
    font-size: larger;
  }
  .bottom{
    line-height: 4vw;
}
  .bottom-row{
    font-size: large;
    justify-content: space-evenly;
  }
  .qr-code img{
    width: 10vw;
  }
}